################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckHour/obj/Release/CheckHour_MarkupCompile.i.lref
